## Print statement basics
for printing any values or text

In [2]:
print('Hi All Welcome to Data Science Class!')

Hi All Welcome to Data Science Class!

In [3]:
print('Statement1')
print('Statement2')

Statement1
Statement2

## \n - for new line in print

In [1]:
print('Sujit','\nSujit1') # \n is userd to print output in next line

sujit
Sujit1

## \t - for multiple spaces (Pressing Tab)

In [4]:
print('Sujit','\tSujit1')

Sujit 	Sujit1

## Need of print statements

In [5]:
a = 23
b = 34
a+b
a-b
a*b
a/b  # this code block will give me only last statment result

0.6764705882352942

In [8]:
print('Addition is : ',a+b)
print('Substraction is : ',a-b)
print('Multiplication is : ',a*b)
print('Division is  : ',a/b)

Addition is :  57
Substraction is :  -11
Multiplication is :  782
Division is  :  0.6764705882352942

## Variable Substitution

Hi ______, Your mobile number ______ is due for recharge.
Your current balance is ____ INR

1. Comma Method
2. F string
3. .format() method

## Substitute variables using below methods
## 1. Comma method

In [2]:
# Variables
name = 'Sujit'
mob = 9876543210
bal = 0.99

# Variable substitution in print statement
print("Hi",name,"Your Mobile number",mob,"is due for recharge.")
print("Your current balance is",bal,"INR")

Hi Sujit Your Mobile number 9876543210 is due for recharge.
Your current balance is 0.99 INR

In [4]:
print('Hi',name,'Your mobile number',mob,'is due for recharge\nYour current balance is',bal,'INR')#Singl and double quote is fine

Hi Sujit Your mobile number 9876543210 is due for recharge
Your current balance is 0.99 INR

## 2. f String (f- format)

In [12]:
name1 = 'Sujit'
mob1 = 1234567890
bal1 = 0.11

print(f'Hi {name1},Your mobile number {mob1} is due for recharge\nYour current balance is {bal1:.1f} INR')

Hi Sujit,Your mobile number 1234567890 is due for recharge
Your current balance is 0.1 INR

In [13]:
print(r'Statement1\nStatement2') # r stands for row string. it will return all data inside quote

Statement1\nStatement2

## 3. .format()

In [18]:
name2 = 'Priyanka'
mob2 = 124124134
bal2 = 0.83000

print('Hi {} , Your mobile number {} is due for recharge'.format(name2, mob2))
print('Current balance is {:.3f}'.format(bal2))

Hi Priyanka , Your mobile number 124124134 is due for recharge
Current balance is 0.830

In [22]:
print('Hi {a}, Your mobile number {b} is due for recharge'.format(b=mob2, a=name2))
print('Current balance is {c} INR'.format(c=bal2))

Hi Priyanka, Your mobile number 124124134 is due for recharge
Current balance is 0.83 INR

In [23]:
print('Hi {} , Your mobile number {} is due for recharge'.format(mob2, name2))
print('Current balance is {:.3f}'.format(bal2))

Hi 124124134 , Your mobile number Priyanka is due for recharge
Current balance is 0.830

## Application of varible substitution
Calculate simple intrest and amount

In [24]:
#inputes
Principle_Amount = 1000000
No_of_Years = 5
Rate_of_Intrest = 6

# Calculating Simple Intrest

Simple_Intrest = (Principle_Amount*No_of_Years*Rate_of_Intrest)/100
Final_Amount = Principle_Amount + Simple_Intrest


# Print the results
print(f'Principal = {Principle_Amount} INR\nPeriod = {No_of_Years} Years\nRate of Intrest = {Rate_of_Intrest} %p.a.')
print('\n==================================================================\n')
print(f'Simple Intrest = {Simple_Intrest:.2f} INR')
print(f'Final Amount = {Final_Amount:.2f} INR')

Principal = 1000000 INR
Period = 5 Years
Rate of Intrest = 6 %p.a.

==================================================================

Simple Intrest = 300000.00 INR
Final Amount = 1300000.00 INR

## Calculate Compound Intrest

$A = P * (1+R)^N$

In [27]:
2**3

8

In [28]:
2**2

4

In [29]:
3**4

81

In [31]:
4**(1/2)

2.0

In [32]:
4*(1/3)

1.3333333333333333

In [38]:
# Input Variables
Principle_Amount1 = 100
No_of_Years1 = 5
Intrest_Rate1 = 6
r = Intrest_Rate1/100

# Output
Final_Amount1 = Principle_Amount1*((1+r)**No_of_Years1)
Compound_Intrest1 = Final_Amount1-Principle_Amount1

# Print the results
print(f'Principal = {Principle_Amount1} INR\nPeriod = {No_of_Years1} Years\nRate of Intrest = {Intrest_Rate1} % p.a.')
print('\n=====================================================================\n')
print(f'Compound Intrest = {Compound_Intrest1:.2f} INR')
print(f'Final Amount = {Final_Amount1:.2f} INR')

Principal = 100 INR
Period = 5 Years
Rate of Intrest = 6 % p.a.

=====================================================================

Compound Intrest = 33.82 INR
Final Amount = 133.82 INR